# deployment.yaml
apiVersion: apps/v2
kind: Deployment
metadata:
  name: iot-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: iot
  template:
    metadata:
      labels:
        app: iot
    spec:
      containers:
        - name: iot-container
          image: wil42/playground:v2
          ports:
            - containerPort: 8888

